<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.atguigu.tingshu.order.mapper.OrderInfoMapper">
    <resultMap id="orderResultMap" type="com.atguigu.tingshu.model.order.OrderInfo" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="orderDetailList" ofType="com.atguigu.tingshu.model.order.OrderDetail" autoMapping="true">
            <id column="order_detail_id" property="id"/>
        </collection>
    </resultMap>
    <!--获取用户订单分页列表-->
    <select id="selectUserPage" resultMap="orderResultMap">
        select oi.id,
               oi.order_title,
               oi.order_no,
               oi.order_status,
               oi.original_amount,
               oi.order_amount,
               oi.derate_amount,
               oi.item_type,
               oi.pay_way,
               oi.create_time,
               od.id order_detail_id,
               od.item_id,
               od.item_name,
               od.item_url,
               od.item_price
        from order_info oi inner join order_detail od
                                      on oi.id = od.order_id and od.is_deleted=0
        where user_id=#{userId}
          and oi.is_deleted=0
        order by oi.update_time desc
    </select>
</mapper>

